{% extends 'base.html' %}
{% block content %}

<div class="page-container">
  <h1 class="page-title">System Logs</h1>

  <div class="card">
    <div class="list-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Module</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for l in system_logs %}
          <tr>
            <td>{{ l.created_at }}</td>
            <td>{{ l.module }}</td>
            <td>{{ l.message }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
